.fond{
    background-image: "https://i.stack.imgur.com/jGlzr.png";
}
.greybanner{
    background-color: #404453;
    width: 400px;
}
.whitebanner{
    background-color: #ffffff;
    width: 70%
}
.yellowcolor{
    color: rgb(255, 187, 0);
}
.underline{
    text-decoration:underline ;
    color: #0044ff;
}
.whitecolor{
    color: #fcfcfc
}
.container{
   display: flex;
   justify-content: space-between;
   padding: 250px;
   background:#0000000;
}
.droite{
}
.gauche{
}
.bannerborderhaut{
    border-top: 200px #404453 solid;
}
.bannerborderbas{
    border-bottom: 200px #404453 solid;
}
.bannerborderdroite{
    border-right: 40px  #404453 solid;
}
.bannerbordergauche{
    border-left: 15px #404453 solid;
}
.bckgborderbas{
    border-bottom: 33px #ffffff solid;
}
.bckgborderhaut{
    border-top: 57px #ffffff solid;
}
.bckgbordergauche{
    border-left: 40px #ffffff solid;
}
.bckgborderdroite{
    border-right: 40px #ffffff solid;
}
.bannerecarttxttitle{
    border-top: 15px #404453 solid
}
.bckgecarttxttitle{
    border-top: 30px #ffffff solid
}
.bckgecarttitletxt{
    border-top: 15px #ffffff solid
}
.bckgtiltle{
    text-align: center;
}
.bckgtxt{
    font-size: large;
}
.police{
    font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.taille{
    width: 100%;
}
.centerpres{
    text-align: center;
}
.click{
    display: inline;
}
.imgbckg{
    background:#000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000;
  }
  
  a {
    position: relative;
    padding: 15px 45px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
    overflow: hidden;
    border-radius: 40px;
  }
  
  a span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
  }
  
  a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 300px;
    height: 300px;
    background:  #f61919;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
  }
  
  a .liquid::after,
  a .liquid::before {
    content: '';
    width: 137%;
    height: 137%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #0000;
  }
  
  a .liquid::before {
    
    border-radius: 45%;
    background: rgb(0, 0, 0);
    animation: animate 5s linear infinite;
  }
  
  a .liquid::after {
    
    border-radius: 40%;
    background: rgba(0, 0, 0, 0.5);
    animation: animate 10s linear infinite;
  }
  
  a:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
.container2{
    display: block;
}
.dessus{

}
.dessous{
    text-align: center;
}
html, body {
    background: rgb(20,20,20);
    text-align: center;
    height: 100%;
    overflow: hidden;
  }
  .svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
        margin: 0 auto;
    width: 320px;  
  }
  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #f61919;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #fff;
    top: -48px;
    position: relative;
  }
  .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }